/*  
    background-color: 872434; - бордовый
    background-color: #8C8D8E; - серый
    background-color: #111C24; - тёмно серый
*/
@font-face {
  font-family: Marmelad;
  src:   url(../font/Marmelad-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-style: bold;
}
body{
  font-family: 'Marmelad';
}
.Mycolor
{
  background-color: #872434 ;
}
.mainfoto
{
  background-image: linear-gradient(to top, transparent 60%, #872434),url(../img/216A9855.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 70vh;
}
.maindiv
{
  font-size: 30px;
  font-style: bold;
}
.ImgMycolor_first
{
  background-color: #8C8D8E;
  height: 250pt;
	overflow: hidden;
}
.ImgMycolor_first img
{
	width: 100%;
	height: 250pt;
	object-fit:cover;
  object-position:center;
}
.DivMycolor
{
  background-color: 872434 ;
  color:#fff;
}
.HMycolor
{
  background-color: 872434 ;
  color:#fff;
}
.H1Mycolor
{
  color: #fff;
}
.card
{
  background-color: #f3f2f0;
  color:#872434 ;
  height: 500px;
}
.card-text
{
  color:#111C24;
  line-height: 16px;
}
.card-img-top
{
  height: 250px;
  object-fit:cover;
  object-position:top;
}
.btn-outline-light
{
  background-color: #872434 ;
}
h1
{
  color: #872434 ;
}
h2
{
  color: #872434 ;
}
hr
{
  color: #872434 ;
}
.page-link
{
  background-color: #872434 ;
  color: #fff;
}
.page-item.disabled .page-link
{
  background-color: #872434 ;
  color: #fff;
}
.page-link:hover {
  z-index: 2;
  color: #872434 ;
  background-color: #fff;
  border-color: #872434 ;
}
.btn-outline-light:hover {
  color: #872434 ;
  background-color: #fff;
  border-color: #872434 ;
}
.carousel-caption
{
  border-radius: 5px;
  background-color: #872434 ;
}
footer
{
  width: 100%;
  height: 56px;
  background-color: #872434 ;
  color: #fff;
  font-size: 20px;
  padding-top: 10px;
}
.card-footer
{
  background-color: #f3f2f0;
  border-top: none;
}
.card-body
{
  border-bottom: none;
}
.MYcard
{
    background-color:#872434 ;
    position: relative;
    height: 250px;
    border-radius: 10px;
}
.MYcard img
{
    width: 100%;
	height: 100%;
    border-radius: 5px;
	object-fit:cover;
  object-position:top;
  opacity: 20%;

}
.MY_card img
{
    width: 200px;
	  height: 300px;
    border-radius: 10px;
	object-fit:cover;
  object-position:top;


}
.MY_card
{
    background-color:#872434 ;
    position: relative;
    height: 300px;
    width: 200px;
    border-radius: 10px;
}
.MYtext
{
    padding: 15px;
    color: #fff;
    position: absolute;
    bottom:0%;
}
.MY_text
{
  width: 100%;
  height: 100px;
    padding: 15px;
    font-size: 16px;
    color: #fff;
    position: absolute;
    bottom:0%;
    background-color: #87243481;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 0;
    line-height: 1;
	overflow: hidden;
}
.MY_text:hover{
  height: 300px;
  border-radius: 10px;
  transition: 1.5s;
}
.My {
  margin-bottom: 0;
}
.person{
  height: auto;
  width: 100%;
  /* еще больше контроля с max-width */
  min-width: 200px;
  border-radius: 10px;
}
.icon{
  height: auto;
  width: 100%;
  max-width: 70px;
}
.project{
  width: 250px;
  height: 250px;
  border-radius: 10px;
	object-fit:cover;
  object-position:center;
  border: #872434 solid;
}
.projects{
  width: 250px;
  height: 300px;
}
.intiative{
  width: 300px;
  height: 300px;
  border-radius: 10px;
	object-fit:cover;
  object-position:top;
  border: #872434 solid;
}
.intiatives{
  align-items: center;
  width: 300px;
  height: 400px;
}
.col.cards{
  min-width: 300px;
}
.map{
  margin-top: 20px;
  width: 300px;
  height: 300px;
}
.MYbtn{
  background-color: #872434;
  color: #fff;
}
.MYbtn:hover{
  border: 1px, #872434 ;
  color: #872434;
}
.my-col{
  max-width: 500px;
}
