/*  
    background-color: #872434; - бордовый
    background-color: #8C8D8E; - серый
    background-color: #111C24; - тёмно серый
*/
@font-face {
  font-family: Montserrat;
  src:   url("../font/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-style: bold;
}
@font-face {
  font-family: Montserrat-light;
  src:   url("../font/Montserrat-ExtraLight.ttf");
  font-weight: normal;
  font-style: normal;
  font-style: bold;
}
body{
  font-family: 'Montserrat';
}
/*Меню сайта*/
.MyBar
{
  background-color: #8C8D8E;
  margin: 5px;
}
a{
  text-decoration-line: none;
}
/*Главное фото на сайте*/
.mainfoto0 
{
  width: 100%;
  height: 100vh;
  background-color: #000;
  object-fit: cover;
  object-position: center;
  position: absolute;
  opacity: 60%;
}
.mainfoto1
{
  width: 100%;
  height: 200px;
  object-fit:contain;
  object-position: top;
  position: absolute;
}
/*Черная подлошка*/
.mainfoto
{
  width: 100%;
  height: 100vh;
  background-color: #000;
}
/*Отступ*/
.otstup
{
  width: 100%;
  height: 50px;
  background-color: #8C8D8E;
}
/*Блок заголовков*/
.hblok
{
  width: 300px;
  height: 80px;
  background-color: #872434;
  margin: 20px;
  padding: 0px;
  color: #fff;
}
.hblok1
{
  position: absolute;
  background-color: #8C8D8E;
  width: 300px;
  height: 80px;
  margin-top: -10px;
  margin-left: 10px;
  border: #8C8D8E solid 1px;
  color: #fff;
}
.h1pblok
{
  color: #fff;
  margin: 0;
  line-height: 80px;
  font-weight: bold;
  font-size: 45px;
}
/*Блок новостей на главной странице*/
.nblok
{
  width: 500px;
  height: 350px;
  background-color: #872434;
  margin: 20px;
  padding: 0px;
  color: #fff;
}
.nblok1
{
  position: absolute;
  padding: 15px;
  background-color: #8C8D8E;
  width: 500px;
  height: 300px;
  border: #8C8D8E solid 1px;
  color: #fff;
  font-family: 'Montserrat-light';
}
.h2blok
{
  color: #fff;
  margin: 0;
  font-size: 25px;
  line-height: 50px;
  font-weight: normal;
}
/*Фото новостей на главной странице*/
.foto
{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.ftblok
{
  width: 300px;
  height: 300px;
  background-color: #872434;
  margin: 20px;
  padding: 0px;
  color: #fff;
}
.ftblok1
{
  position: absolute;
  background-color: #8C8D8E;
  width: 300px;
  height: 300px;
  margin-top: 10px;
  margin-left: 10px;
  border: #8C8D8E solid 1px;
  color: #fff;
}
footer
{
  width: 100%;
  height: 44px;
  background-color: #8C8D8E;
  color: #fff;
  padding: 10px;
}
/* Карточки состав должности*/
.mpcard
{
  display:table;
  width: 200px;
  height: 300px;
  background-color: #872434;
  margin: 15px;
  padding: 0px;
  color: #fff;
}
.mpcard1
{
  display:table;
  width: 200px;
  height: 300px;
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  color: #fff;
  background-color: #8C8D8E;
  padding: 10px;
}
.mpcard1 p{
  display:table-cell!important;
	vertical-align:middle;
  font-weight: bold;
  font-size: 15px;
}
.mpcard2
{
  /* display:table; */
  width: 200px;
  height: 300px;
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  color: #fff;
  object-fit: cover;
  object-position: center;
  filter: grayscale(100%); 
}
.mpcard2:hover{
  filter: none;
  transition: 0.5s;
}
/* .mpcard3
{
  display:table;
  width: 200px;
  height: 100px;
  position: absolute;
  margin-top: 210px;
  margin-left: 10px;
  color: #fff;
} */
.mpcard3 
{
  padding: 10px;
  position:relative;
  margin-top: 230px;
  margin-left: 10px;
  bottom: 0%;
  width: 200px;
  height: 70px;
  color: #fff;
  overflow: hidden;
  font-size: 15px;
}
.mpcard3:hover{
  margin-top: 10px;
  height: 290px;
  transition: 1.5s;
}
.mpcard3 p{
  margin-top: 200px;
  display:table-cell!important;
	vertical-align:bottom;
  font-weight: bold;
  font-size: 18px;
} 
/*Персональная страница*/
/*Фото*/
.fpers{
  min-width: 200px;
  height: 80vh;
  background-color: #111C24;
  position: relative;
  margin: 20px 30px 20px 20px;
}
.fpers1{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #872434;
  margin-bottom: 10px;
  margin-right: 10px;
}
.fpers2{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #8C8D8E;
  margin-top: 10px;
  margin-left: 10px;
  object-fit: cover;
  object-position: center;
}
/*  Информация */
.infopers
{
  min-width: 200px;
  height: auto;
  background-color: #fff;
  margin: 20px;
}
.infopers1
{
  min-width: 200px;
  background-color: #fff;
  padding-right: 10px;
  margin-bottom: 30px;
}
/* Заголовок */
.hinfopers{
  width: 100%;
  height: 100px;
  background-color: #fff;
  position: relative;
}
.hinfopers1{
  position:absolute;
  width: 100%;
  height: 100%;
  background-color: #872434;
}
.hinfopers2{
  width: 100%;
  height: 100%;
  background-color: #8C8D8E;
  margin-top: 10px;
  margin-left: 10px;
  display:table;
}
.hinfopers2 p{
  padding: 10px;
  color: #fff;
  text-align: center;
  display:table-cell!important;
	vertical-align:middle;
  font-weight: bold;
  font-size: 25px;
} 
/* Кнопки */
.bpers{
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  height: 100px;
  background-color: #8C8D8E;
  position: relative;
  display: table;
  align-items: center;
  text-align: center;
}
.icon{
  background-color: #872434;
  width: 100%;
  height: auto;
  display:table-cell!important;
	vertical-align:middle;
}
/* Блоки информации */
.tpers{
  margin-top: 20px;
  width: 100%;
  height: 40px;
  padding: 10px;
  color: #fff;
  background-color: #872434;
  display: table;
}
.tpers p{
  color: #fff;
  text-align: center;
  display:table-cell!important;
	vertical-align:middle;
  font-weight: bold;
  font-size: 20px;
}
.tpers1{
  width: 100%;
  padding: 10px;
  color: #fff;
  background-color: #8C8D8E;
  display: table;
}
.tpers1 p{
  font-size: 15px;
  padding: 0px;
  margin-bottom: 20px;
}
